In [1]:
import pandas as pd

df = pd.read_csv("../../data/effectifs.csv", sep=";")

/tmp/ipykernel_2184/1944873507.py:3: DtypeWarning: Columns (12) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("../../data/effectifs.csv", sep=";")

In [2]:
df.head()

,annee,patho_niv1,patho_niv2,patho_niv3,top,cla_age_5,sexe,region,dept,Ntop,Npop,prev,Niveau prioritaire,libelle_classe_age,libelle_sexe,tri
0,2020,Hospitalisations hors pathologies repérées (av...,Hospitalisations hors pathologies repérées (av...,Hospitalisations hors pathologies repérées (av...,HHP_CAT_INC,20-24,1,28,999,6130.0,87700,6.986,"1,2,3",de 20 à 24 ans,hommes,3.0
1,2020,Hospitalisations hors pathologies repérées (av...,Hospitalisations hors pathologies repérées (av...,Hospitalisations hors pathologies repérées (av...,HHP_CAT_INC,20-24,1,32,62,3200.0,41610,7.686,"1,2,3",de 20 à 24 ans,hommes,3.0
2,2020,Hospitalisations hors pathologies repérées (av...,Hospitalisations hors pathologies repérées (av...,Hospitalisations hors pathologies repérées (av...,HHP_CAT_INC,20-24,1,32,80,1100.0,15770,6.974,"1,2,3",de 20 à 24 ans,hommes,3.0
3,2020,Hospitalisations hors pathologies repérées (av...,Hospitalisations hors pathologies repérées (av...,Hospitalisations hors pathologies repérées (av...,HHP_CAT_INC,20-24,1,44,51,1020.0,16260,6.285,"1,2,3",de 20 à 24 ans,hommes,3.0
4,2020,Hospitalisations hors pathologies repérées (av...,Hospitalisations hors pathologies repérées (av...,Hospitalisations hors pathologies repérées (av...,HHP_CAT_INC,20-24,1,44,57,1570.0,26040,6.029,"1,2,3",de 20 à 24 ans,hommes,3.0

In [3]:
df= df[["annee", "patho_niv1", "patho_niv2", "patho_niv3", "cla_age_5", "sexe", "dept", "Ntop", "Npop" ]]

In [4]:
df.head()

,annee,patho_niv1,patho_niv2,patho_niv3,cla_age_5,sexe,dept,Ntop,Npop
0,2020,Hospitalisations hors pathologies repérées (av...,Hospitalisations hors pathologies repérées (av...,Hospitalisations hors pathologies repérées (av...,20-24,1,999,6130.0,87700
1,2020,Hospitalisations hors pathologies repérées (av...,Hospitalisations hors pathologies repérées (av...,Hospitalisations hors pathologies repérées (av...,20-24,1,62,3200.0,41610
2,2020,Hospitalisations hors pathologies repérées (av...,Hospitalisations hors pathologies repérées (av...,Hospitalisations hors pathologies repérées (av...,20-24,1,80,1100.0,15770
3,2020,Hospitalisations hors pathologies repérées (av...,Hospitalisations hors pathologies repérées (av...,Hospitalisations hors pathologies repérées (av...,20-24,1,51,1020.0,16260
4,2020,Hospitalisations hors pathologies repérées (av...,Hospitalisations hors pathologies repérées (av...,Hospitalisations hors pathologies repérées (av...,20-24,1,57,1570.0,26040

In [5]:
df_cancer= df[df["patho_niv1"].isin(["Cancers"])]

In [6]:
df_cancer.head()

      annee patho_niv1 patho_niv2 patho_niv3 cla_age_5  sexe dept  Ntop   Npop
5897   2020    Cancers        NaN        NaN     00-04     1  972   NaN   8310
5898   2020    Cancers        NaN        NaN     00-04     1  999   NaN   8310
5899   2020    Cancers        NaN        NaN     00-04     1   75  40.0  52060
5900   2020    Cancers        NaN        NaN     00-04     1   77  30.0  45240
5901   2020    Cancers        NaN        NaN     00-04     1   78  30.0  45960

In [7]:
df_cancer.groupby("patho_niv2")["Ntop"].sum().sort_values(ascending=False)

patho_niv2
Autres cancers                331264740.0
Cancer du sein de la femme    136339540.0
Cancer de la prostate         101365960.0
Cancer colorectal              69599890.0
Cancer bronchopulmonaire       28319130.0
Name: Ntop, dtype: float64

In [8]:
# Elimination des totaux pour améliorer le calcul puis vérification avec l'année 2020. Nous
# sommes proches de l'attendu donc c'est validé. En effet, les quelques écarts peuvent s'expliquer
# du fait que certaines personnes peuvent avoir plusieurs cancers/plusieurs départements de résidences
# /changer de catégories d'âge

df_2020 = df_cancer[(df_cancer["annee"] == 2020) & (df_cancer["patho_niv2"].notna() ) & (df_cancer["patho_niv3"].notna() ) & (df_cancer["dept"] != "999") & (df_cancer["sexe"] != 9) & (df_cancer["cla_age_5"] != "tsage")]

cancer_counts_2020 = df_2020.groupby("patho_niv2")["Ntop"].sum().sort_values(ascending=False)

print(cancer_counts_2020)

patho_niv2
Autres cancers                1787720.0
Cancer du sein de la femme     727460.0
Cancer de la prostate          540130.0
Cancer colorectal              368650.0
Cancer bronchopulmonaire       147930.0
Name: Ntop, dtype: float64

In [9]:
#Selon les visualisations, les choix seront fait après. Ce qui est intéressant ici
# c'est uniquement le nombre de patients ayant le cancer ET un cancer affecté d'où la
# suppression des Nan dans ces deux catégories. 
df_final = df_cancer[(df_cancer["patho_niv2"].notna() ) & (df_cancer["patho_niv3"].notna() )]

In [10]:
df_final.head()

,annee,patho_niv1,patho_niv2,patho_niv3,cla_age_5,sexe,dept,Ntop,Npop
6697,2020,Cancers,Cancer du sein de la femme,Cancer du sein de la femme sous surveillance,30-34,9,12,NaN,6730
6698,2020,Cancers,Cancer du sein de la femme,Cancer du sein de la femme sous surveillance,30-34,9,30,20.0,21830
6699,2020,Cancers,Cancer du sein de la femme,Cancer du sein de la femme sous surveillance,30-34,9,31,40.0,50680
6700,2020,Cancers,Cancer du sein de la femme,Cancer du sein de la femme sous surveillance,30-34,9,32,NaN,4650
6701,2020,Cancers,Cancer du sein de la femme,Cancer du sein de la femme sous surveillance,30-34,9,48,NaN,3480

In [11]:
df_final = df_final.reset_index(drop=True)

In [12]:
df_final.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 524160 entries, 0 to 524159
Data columns (total 9 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   annee       524160 non-null  int64
 1   patho_niv1  524160 non-null  object
 2   patho_niv2  524160 non-null  object
 3   patho_niv3  524160 non-null  object
 4   cla_age_5   524160 non-null  object
 5   sexe        524160 non-null  int64
 6   dept        524160 non-null  object
 7   Ntop        323226 non-null  float64
 8   Npop        524160 non-null  int64
dtypes: float64(1), int64(3), object(5)
memory usage: 36.0+ MB

In [13]:
df_final = df_final.rename(columns= {
    "patho_niv1": "Pathologie",
    "annee": "Annee",
    "patho_niv2": "Type_cancer",
    "patho_niv3": "Suivi_patho",
    "cla_age_5": "Classe_age",
    "sexe": "Sexe",
    "dept": "Departement",
    "Ntop": "Effectif_patients",
    "Npop": "Effectif_total"
})

df_final.head()

,Annee,Pathologie,Type_cancer,Suivi_patho,Classe_age,Sexe,Departement,Effectif_patients,Effectif_total
0,2020,Cancers,Cancer du sein de la femme,Cancer du sein de la femme sous surveillance,30-34,9,12,NaN,6730
1,2020,Cancers,Cancer du sein de la femme,Cancer du sein de la femme sous surveillance,30-34,9,30,20.0,21830
2,2020,Cancers,Cancer du sein de la femme,Cancer du sein de la femme sous surveillance,30-34,9,31,40.0,50680
3,2020,Cancers,Cancer du sein de la femme,Cancer du sein de la femme sous surveillance,30-34,9,32,NaN,4650
4,2020,Cancers,Cancer du sein de la femme,Cancer du sein de la femme sous surveillance,30-34,9,48,NaN,3480

Pour enregistrer le dataframe en base de données postgres, veuillez lancer le script nettoyage_insertion_postgres_cancer.py

In [15]:
df_final.groupby("Classe_age")["Effectif_patients"].sum().sort_values(ascending=False)

Classe_age
tsage    166808350.0
70-74     25113500.0
65-69     22501180.0
75-79     21480140.0
80-84     19376180.0
60-64     16683660.0
85-89     15072040.0
55-59     12189320.0
50-54      8761530.0
90-94      7430690.0
45-49      5739390.0
40-44      3607540.0
35-39      2470170.0
95et+      2123090.0
30-34      1668480.0
25-29       933820.0
20-24       501430.0
15-19       331670.0
10-14       250070.0
05-09       223680.0
00-04       100930.0
Name: Effectif_patients, dtype: float64

In [18]:
df_final["Classe_age"] = df_final["Classe_age"].replace({"00-04": "Y_LT5", "05-09": "Y5T9", "10-14": "Y10T14", "15-19": "Y15T19", "20-24": "Y20T24", "25-29": "Y25T29", "30-34": "Y30T34", "95et+": "Y_GE95", "35-39": "Y35T39", "40-44": "Y40T44", "45-49": "Y45T49", "90-94": "Y90T94", "50-54": "Y50T54", "55-59": "Y55T59", "85-89": "Y85T89", "60-64": "Y60T64", "80-84": "Y80T84", "75-79": "Y75T79", "65-69": "Y65T69", "70-74": "Y70T74", "tsage": "_T" })

In [19]:
df_final.groupby("Classe_age")["Effectif_patients"].sum().sort_values(ascending=False)

Classe_age
_T        166808350.0
Y70T74     25113500.0
Y65T69     22501180.0
Y75T79     21480140.0
Y80T84     19376180.0
Y60T64     16683660.0
Y85T89     15072040.0
Y55T59     12189320.0
Y50T54      8761530.0
Y90T94      7430690.0
Y45T49      5739390.0
Y40T44      3607540.0
Y35T39      2470170.0
Y_GE95      2123090.0
Y30T34      1668480.0
Y25T29       933820.0
Y20T24       501430.0
Y15T19       331670.0
Y10T14       250070.0
Y5T9         223680.0
Y_LT5        100930.0
Name: Effectif_patients, dtype: float64